<div class="fs-1 my-5">
  <img src="https://github.com/sciola-git/sciola-git.github.io/blob/main/images/icons/folder.svg?raw=true" width="60px" align="center" /></a> layers
  <hr>
  <a class="btn btn-primary border-0 shadow fs-5" href="javascript:history.back()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </a>
</div>

<p class="text-start">In this directory are the layers of the MVC pattern. [ Model | View | Controller ]</p>

<img class="img-fluid my-5" src="https://raw.githubusercontent.com/sciola-framework/sciola-framework.github.io/main/images/screenshots/mvc.png" width="240px">

<h5 class="text-start mb-4">Controller</h5>

<pre class="text-start">
File: MyController.php
<code class="language-php">
&lt;?php

namespace App\Controller;

use Sciola\Controller;

class MyController extends Controller
{
    public function foo()
    {
        $model = model('MyModel');
        $data['foo'] = $model->foo();
        return view('my-view', $data);
    }
}
</code>
</pre>

<h5 class="text-start mb-4">Model</h5>

<pre class="text-start">
File: MyModel.php
<code class="language-php">
&lt;?php

namespace App\Model;

use Sciola\Model;

class MyModel extends Model
{
    private $pdo = null;
    //private $orm = null;

    public function __construct()
    {
        $this->pdo = $this->pdo();
        //$this->orm = $this->orm();
    }

    public function foo()
    {
        return 'Hello World';
    }
}
</code>
</pre>

<h5 class="text-start mb-4">View</h5>

<pre class="text-start">
File: my-view.html
<code class="language-twig">
{% include header with {
    meta: {
      title: '',
      subject: '',
      description: '',
      keywords: ''
    },
    css : ['/packages/foo-1/style.min.css',
           '/packages/foo-2/style.min.css',
           '/packages/foo-3/style.min.css']
  }
%}

&lt;h1>Page content {{ foo }}&lt;/h1>

{% include footer with {
    js : ['/packages/foo-1/script.min.js',
          '/packages/foo-2/script.min.js']
  }
%}
</code>
</pre>
